/*BARRA DE NAVEGAÇÃO*/
.navegacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img{
    width: 50px;
    height: 50px;
}

.links{
    display: flex;
}

.links button{
    background-color: #91AD43;
    color: #fff;
    width: 100px;
}

.links a{
    margin: 0 10px;
    text-decoration: none;
}

.links .icones{
    width: 70px;
    display: flex;
    justify-content: space-around;
}

/*BODY*/
body{font-family: sans-serif;
display: flex;
flex-direction: column}



/*OUR VEGAN STORE*/
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(70, 192, 64);
    background-image: url(img/landing-background.png);
    height: 60vw;
}

/*CARDS*/

.cards {
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    font-family: sans-serif
}

.card1 {
    background-color: rgb(10, 255, 235);
    width: 25vw;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.card2 {
    background-color: rgb(76, 159, 34);
    width: 25vw;
    text-align: center;
}

.card3 {
    background-color: rgb(237, 190, 129);
    width: 25vw;
    text-align: center;
}

.card4 {
    background-color: rgb(208, 100, 156);
    width: 25vw;
    text-align: center
}

.texto{margin-top: 100px;
width: 20vw;
height: 400px;
margin-left: auto;
margin-right: auto;}

.texto img{
    width: 80px;
    height: 80px;}



    /*Depoimentos */
.comentarios{
display: flex;
flex-direction: column;
 align-items: center;
 padding: 5px 10px;
width: 200px;
background-color:bisque ;
height: 300px;
justify-content: space-around;
border: 2px solid bisque;
padding: 2px 5px;
text-decoration:dashed ;
        
 }
.depoimentos{
display: flex;
justify-content:space-around ;
margin: 0 100px;
}
.titulo{
display: flex;
flex-wrap: wrap;
margin: 0 350px;
padding: 5px 10px;
font-size: 12px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
justify-content: space-around;
}
img{
width: 40px;
height: 40px;
border-radius: 50px;
}
.nome{
justify-content: space-evenly;
    }
    
ul{
 padding-inline-start: 0;
    }
    
li{
        list-style: none;
    }
    
.cartao{
    display: flex;
    align-items: center;
    width: 350px;
}

.cartao i{
    font-size: 30px;
    padding: 20px;
    background-color: brown;
    color: white;
    border-radius: 50px;
}

.texto-cartao{
    margin-left: 20px;
}