/*body-J*/
.introducao{
    color:rgb(14, 36, 126);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:first baseline ;
    text-align:justify;
    background-color: rgb(255, 255, 255);
    height: 35vw;
    padding: 70px ;
}

.introducao button{
    background-color: #0d1697;
    color: #fff;
    width: 100px;
}