/*Barra do navegador*/
.navegador{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
}

/*body-J*/
.introducao{
    color:rgb(14, 36, 126) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:normal ;
    text-align:justify;
    background-color: rgb(255, 255, 255);
    height: 70vw;
}

.button{
    background-color: #91AD43;
    color: #fff;
    width: 100px;
}