/*Barra do navegador*/
.navegador{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/*body-J*/
.introducao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:normal ;
    text-align:justify;
    background-color: rgb(255, 255, 255);
    height: 70vw;
}